/* COMMON */
body{
    font-family: Arial, sans-serif;
}

.btn_g{
    background-color: #363636;
    color: white;
}
.btn_g:hover{
    color: white;
}

.btn_or{
    background-color: #cd3d0f;
    color: white;
}
/* TYPO */


/* MAIN */

/* HEADER */
.header{
    width: 100%;
    position: fixed;
    z-index: 10;
}
.header_top{
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    padding: 12px 20px;
}
.header_bottom .navbar-light .navbar-nav .nav-link{
    color: #000;
}
.header_top img{
    height: 16px;
}

.header_bottom .dropdown-toggle::after{
border: none;
content: url(../img/chevron-down-solid.svg);
display: inline-block;
width: 10px;
vertical-align: middle;
}

.lens{
    width: 20px;
}

/* HERO */
#hero{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    padding: 250px 0px 50px 2px;
    margin-bottom: 30px;
    
}

.hero_logo{
    height: 25px;
}

.hero_canvas{
    width: 200px;
    border-radius: 20px;
    margin: 15px;
    padding: 2px;
}
.hero_canvas img{
    border-radius: 20px;
}

.hero_canvas:hover{
    border: 2px solid #3f94da;
}
